{deps, [
        {jiffy, ".*",
            {git, "git://github.com/davisp/jiffy.git", {tag, "0.7.0"}}},
        {jsx, ".*",
            {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}},
        {triq, ".*",
            {git, "git://github.com/krestenkrab/triq.git", {branch, "master"}}}
]}.
